@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica_Neue/HelveticaNeueCyr-Roman.otf");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.otf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica_Neue/HelveticaNeueCyr-Bold.otf");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: "FedraSansProBook";
  src: url("../fonts/FedraSansPro-BookLF.otf");
  font-style: normal; }

@font-face {
  font-family: "FedraSansProBold";
  src: url("../fonts/FedraSansPro-BoldLF.otf");
  font-style: normal; }

@font-face {
  font-family: "FedraSansProLight";
  src: url("../fonts/FedraSansPro-LightLF.otf");
  font-style: normal; }

@font-face {
  font-family: "FedraSansProDemi";
  src: url("../fonts/FedraSansPro-DemiLF.otf");
  font-style: normal; }
