.modal .close {
  position: absolute;
  right: 15px;
  top: 13px;
  opacity: 1; }

.modal-backdrop {
  background: #00437B; }
  .modal-backdrop.show {
    opacity: .6; }

.modal-content {
  padding: 40px;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  font-family: "Helvetica"; }
  @media (max-width: 991.98px) {
    .modal-content {
      padding: 20px; } }

.modal-title {
  font-family: "FedraSansProLight";
  font-size: 40px;
  color: #00437B;
  line-height: 1.2; }
  @media (max-width: 991.98px) {
    .modal-title {
      font-size: 26px; } }

.modal-sub-title {
  font-family: "FedraSansProLight";
  font-size: 22px;
  color: #00437B; }
  @media (max-width: 991.98px) {
    .modal-sub-title {
      font-size: 18px; } }
